body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
}

.tabela {
    background: rgba(255,255,255,0.08);
    padding: 20px 30px;
    border-radius: 10px;
    width: 1500px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background: rgba(255,255,255,0.15);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Estilo da imagem */
li img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid rgba(255, 252, 252, 0.4);
}

.motivo {
   width: 600px;
   text-align: center;
}
.botao{
     background: #424346;        /* cor elegante */
    color: white;               /* texto branco */
    border: none;               /* remove borda feia */
    padding: 30px 40px;         /* tamanho confortável */
    border-radius: 8px;         /* cantos arredondados */
    font-size: 16px;
    cursor: pointer;            /* mãozinha ao passar */
    transition: 0.3s;    
}
.botao:hover {
    background: #961010;        /* cor mais escura */
    transform: scale(1.05);     /* leve zoom */
}

/* quando clica */
.botao:active {
    transform: scale(0.97);
}