body {
    margin: 0;
    background: #111;
    font-family: Arial, sans-serif;
    color: white;
}

.navbar {
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.logo span {
    color: #ff1a1a;
}

.galeria-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}

.galeria-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
    color: #ff1a1a;
}

/* Grade da galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
}

/* Fotos */
.galeria img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

/* Efeito ao passar o mouse */
.galeria img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
}

.rodape {
    padding: 20px;
    text-align: center;
    background: #000;
    margin-top: 40px;
}
.motivo {
    position: relative;
    z-index: 2;
    text-align: center;
}

.botao {
    padding: 12px 20px;
    background: #ff2a2a;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
}

.botao:hover {
    background: #ca0c0c;        /* cor mais escura */
    transform: scale(1.05);     /* leve zoom */
}
.botao:active {
    transform: scale(0.97);
}