/* Fundo */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    background: url("download.jfif") 
                no-repeat center center/cover;

    color: #fff;

    /* sobreposição escura para leitura */
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65); 
    z-index: 0;
}

/* Navbar */
.navbar {
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo span {
    color: #ff2a2a;
}

/* Área de conteúdo */
.sobre {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    position: relative;
    z-index: 1;
}

.conteudo {
    background: rgba(0,0,0,0.55);
    padding: 30px;
    width: 70%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.conteudo h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
}

.conteudo p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Rodapé */
.rodape {
    text-align: center;
    padding: 15px;
    background: rgba(0,0,0,0.75);
    position: relative;
    z-index: 1;
    margin-top: 30px;
    font-size: 14px;
}
.motivo {
    position: relative;
    z-index: 2;
    text-align: center;
}

.botao {
    padding: 12px 20px;
    background: #ff2a2a;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    
}

.botao:hover {
    background: #ca0c0c;        /* cor mais escura */
    transform: scale(1.05);     /* leve zoom */
}
.botao:active {
    transform: scale(0.97);
}