
* { box-sizing: border-box; margin: 0; padding: 0; }

:root{
    --bg:#0b0b0b;
    --accent:#c20b0b;
    --muted:#bfbfbf;
    --card: rgba(255,255,255,0.06);
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 36px;
    background:var(--accent);
    color:#fff;
}
.logo-area{display:flex; align-items:center; gap:12px;}
.logo-img{width:40px; height:40px; object-fit:cover; border-radius:6px;}
.logo-text{font-weight:700; font-size:20px;}
.navbar nav a{
    color:#fff; text-decoration:none; margin-left:18px; font-weight:600; font-size:14px;
    transition:opacity .2s;
}
.navbar nav a:hover{ opacity:.85; }
.navbar nav a.active{ text-decoration:underline 2px rgba(255,255,255,0.12); }

/* HERO */
.hero{
    position:relative;
    height:44vh;
    min-height:360px;
    display:flex;
    align-items:center;
    color:#ee0f0f;
    background: url("terra.jfif") no-repeat center center/cover;
    padding: 0 6%;
}
.hero-overlay{ position:absolute; inset:0; }
.hero-content{
    z-index:2; width:55%;
}
.hero-content h1{ font-size:36px; line-height:1.05; margin-bottom:10px; }
.hero-content h1 span{ color:var(--accent); }
.hero-content p{ color:var(--muted); margin-bottom:18px; max-width:520px; }

/* Buttons usados em várias seções */
.btn{
    display:inline-block; text-decoration:none; padding:10px 18px; border-radius:8px; font-weight:700;
}
.btn-red{ background:var(--accent); color:#fff; }
.btn-outline{ border:2px solid var(--accent); color:var(--accent); background:transparent; }

/* MAIN */
.main{ padding:38px 6%; background:var(--bg); color:#fff; }

/* PROGRAMAS (cards) */
.programas h2{ font-size:22px; margin-bottom:18px; color:#fff; }
.cards{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap:18px;
    margin-bottom:30px;
}
.card{
    background:var(--card);
    padding:18px;
    border-radius:12px;
   
}
.card:hover{ transform:translateY(-6px); background: rgba(255,255,255,0.12); }
.card h3{ margin-bottom:8px; font-size:18px; }
.card p{ color:var(--muted); font-size:14px; margin-bottom:12px; }
.small-btn{ text-decoration:none; color:var(--accent); font-weight:700; }

/* CRONOGRAMA */
.cronograma{ margin-top:8px; }
.cronograma h2{ font-size:20px; margin-bottom:12px; }
.schedule{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap:16px;
    margin-bottom:18px;
}
.day{
    background: rgba(255,255,255,0.04);
    padding:14px;
    border-radius:10px;
}
.day h4{ font-size:16px; margin-bottom:8px; }
.day ul{ list-style: disc; padding-left:18px; color:var(--muted); }
.day li{ margin-bottom:6px; font-size:14px; }




